on:
  push:
  schedule:
    - cron: '30 2 * * 0'
name: build
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['9.6', '9.8', '9.10', '9.12']
        cabal: [latest]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Build Package
    steps:
      - uses: actions/checkout@v4
      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - name: Build library
        run: cabal build
      - name: Run tests
        run: cabal new-test --enable-tests --test-show-details=direct
